<div class="schedule event-show">
  <h1><%= @event.name %></h1>
  <div class="event-inner">
    <h3><%= Day.find(@event.day_id).name %>, <%= (find_date Week.find(Day.find(@event.day_id).week_id), Day.find(@event.day_id)).to_formatted_s(:long) %></h4>
    <h4><%= amPm @event.start, min: @event.minstart %> - <%= amPm @event.done, min: @event.minend %></h4>
    <p><%= @event.description %></p>
    <%= link_to fa_icon("pencil"), edit_event_path(@event.id), class: 'event-link' %>
    <%= link_to fa_icon("trash"), event_path(@event.id,week: Day.find(@event.day_id).week_id), method: :delete, class:'event-link' %>
    <%= link_to fa_icon("arrow-left"), week_path(Week.find(Day.find(@event.day_id).week_id).id), class: 'event-link' %>
  </div>
</div>